/* Body adjustments */
body {
	background-color: black;
}

/* Main Container */
div.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}

/* Ryu Container */
div.ryu-container {
	float: left;
}

/* Ryu image */
div.ryu {
	width: 659px;
	height: 494px;
}

div.ryu-still, div.ryu-ready, div.ryu-throwing {
	width: 659px;
	height: 494px;
}

div.ryu-ready, div.ryu-throwing {
	display: none;
}

div.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

div.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

div.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

div.ryu-still, div.ryu-ready, div.ryu-throwing, div.hadouken {
	background-repeat: no-repeat;
}

div.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none; 
	position: absolute;
	z-index: 10;
	top: 167px;
	left: 588px;
	float: left;
}